:root {
	--header-size: 100px;
	--base-size: 20px;
	--footer-size: 13px;
	--category-size: 22px;
	--des-size: 12px;

	--red: #af0000; 
	--blue: #0000c8;
	--cream: rgb(254, 250, 235);

	--chinese-font: "ZCOOL QingKe HuangYou", serif;
	--base-font: "poppins", serif;
}



img {
	object-fit: contain;
	border-radius: 10px;
}

img:hover {
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

.img-grid-2{
	border-top: solid var(--red) 1px;
	border-bottom: solid var(--red) 1px;
}

.img-grid-1{
	border-right: solid var(--red) 1px;
	border-top: solid var(--red) 1px;
	border-bottom: solid var(--red) 1px;
}

.img-grid{
	border: solid 1px var(--red);
}

.description{
	border-bottom: solid 1px var(--red);
	font-size: var(--des-size);
	justify-content: end;
}

.grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.category-font{
	color: var(--cream);
	font-size: var(--category-size);
	font-family: var(--chinese-font);
	text-align: center;
	padding: 10px;
}

.category-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	border: solid 1px var(--red);
	background-color: var(--red);
	border-radius: 20px 20px 0px 0px;
	margin-top: 20px;
}

.side-font{
	background-color: var(--red);
	color: var(--cream);
}

.top-container{
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	text-align: center;
	border: thick double var(--red);
	font-size: var(--category-size);
	font-family: var(--chinese-font);
}

p{
	color: var(--red);
	font-family: var(--base-font);
}

footer{
	font-size: var(--footer-size);
	text-align: center;
	margin: 30px 20px;
}

h1{
	font-size: var(--header-size);
	font-family: var(--chinese-font);
	color: var(--red);
	text-align: center;
	margin: 15px;
}

body{
	background-color: var(--cream);
	margin: 50px;
}