img {
	object-fit: contain;
	border-radius: 10px;
}

img:hover {
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

.img-grid-2{
	border-top: solid black 1px;
	border-bottom: solid black 1px;
}

.img-grid-1{
	border-right: solid black 1px;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
}

.img-grid{
	border: solid black 1px;
}

.grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.category-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	border: solid black 1px;
}

h1{
	
}