:root {
	--header-size: 100px;
	--base-size: 16px;
	--footer-size: 13px;
	--category-size: 22px;
	--des-size: 13px;
	--filetitle-size: 14px;

	--red: #af0000; 
	--blue: #0000c8;
	--cream: rgb(254, 250, 235);

	--chinese-font: "ZCOOL QingKe HuangYou", serif;
	--base-font: "poppins", serif;
}

.video-block{
	width:300px;
	/* height: 100%; */
}

img {
	width: 250px;
	height: 70%;
	justify-content: center;
	/* height: 100%; */
	/* flex-grow: 1; */
	object-fit: contain;
}

img:hover {
	box-shadow: 0 0 2px 1px rgba(125, 13, 13, 0.5);
}

/* .img-grid-2{
	border-top: solid var(--red) 1px;
	border-bottom: solid var(--red) 1px;
}

.img-grid-1{
	border-right: solid var(--red) 1px;
	border-top: solid var(--red) 1px;
	border-bottom: solid var(--red) 1px;
}

.img-grid{
	border: solid 1px var(--red);
} */

.description{
	border-bottom: solid 1px var(--red);
	font-size: var(--des-size);
	justify-content: end;
}

.category-font{
	color: var(--cream);
	font-size: var(--category-size);
	font-family: var(--chinese-font);
	text-align: center;
	padding: 10px;
}

.category-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	border: solid 1px var(--red);
	background-color: var(--red);
	border-radius: 20px 20px 0px 0px;
	margin-top: 20px;
}

.side-font{
	background-color: var(--red);
	color: var(--cream);
}

.top-container{
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	text-align: center;
	border: thick double var(--red);
	font-size: var(--category-size);
	font-family: var(--chinese-font);
}

.side-text{
	text-align: center;
	writing-mode: vertical-rl;
	text-orientation: upright;
	font-family: "Ma Shan Zheng", serif;
}

.link-block{

}

.youtube-block{
	max-width: 100px;
}

.first-paragraph{
	font-size: 100px;
}

.grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: minmax(300px,100px);
	border: solid 2px var(--red);
}

li {
	max-width: fit-content;
	border-left: solid 1px var(--red);
	border-bottom: solid 1px var(--red);
	justify-content: center;
}


h3{
	font-family: var(--base-font);
	font-size: var(--filetitle-size);
	color: var(--red);
	margin-bottom: 20px;
	border-bottom: solid 1px var(--red);
	padding-left: 5px;
}

p{
	color: var(--red);
	font-family: var(--base-font);
	font-size: var(--base-size);
}

footer{
	font-size: var(--footer-size);
	text-align: center;
	margin: 30px 20px;
}

h1{
	font-size: var(--header-size);
	font-family: var(--chinese-font);
	color: var(--red);
	text-align: center;
	margin: 15px;
}

body{
	background-color: var(--cream);
	margin: 50px;
}