:root {
	--base-size: 16px;
	--gutter: calc(var(--base-size));

	/* space top bottom; */
	--top-bottom: 10px 0px 10px 0px;
	
	/* font size */
	--header-size: 3.3rem;
	/* --category-size: 22px;
	--des-size: 13px;
	--filetitle-size: 14px; */

	/* font family */
	--chinese-font: "ZCOOL QingKe HuangYou", serif;
	--base-font: "poppins", serif;

	/* primary color */
	--red: #a30202; 
	--blue: #0e0e93;
	--green: #034225;
	/* background-color */
	--cream: rgb(254, 250, 235);
}

.video-block{
	width:300px;
}

#channel-description{
	display: none;
	padding: 10px;
	border: solid var(--red);
}

 /* javascript add show class */
.show-audio{
	li {
		display:none;
	}

	li.audio-block {
		display: block;
	}
}

.show-link{
	li {
		display:none;
	}

	li.link-block {
		display: block;
	}
}

.show-text{
	li {
		display:none;
	}

	li.text-block {
		display: block;
	}
}

.show-image{
	li {
		display:none;
	}

	li.image-block {
		display: block;
	}
}

.show-video{
	li {
		display:none;
	}

	li.video-block {
		display: block;
	}
}

/* java class */


img {
	font-weight: 300;
	width: 100%;
	/* width: 365px; */
	margin-bottom: auto;
	/* height: 100%; */
	/* flex-grow: 1; */
	object-fit: cover;
}

img:hover {
	box-shadow: 0 0 2px 1px rgba(125, 13, 13, 0.5);
}

.description{
	border-bottom: solid 1px var(--red);
	font-size: var(--des-size);
	justify-content: end;
}

.category-font{
	color: var(--cream);
	font-size: var(--category-size);
	font-family: var(--chinese-font);
	text-align: center;
	padding: calc(var(--gutter)* 1);
}

.category-container{
	/* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
	border: solid 1px var(--red);
	background-color: var(--red);
	border-radius: 20px 20px 0px 0px;
	padding: calc(var(--gutter)* 0.5);
}


.center-align{
	text-align: center;
}

/* dropdown media selection */


/* Basic dropdown container */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Button styling */
.dropbtn {
	font-size: calc(var(--base-size) * 1.2);
	font-family: var(--chinese-font);
	background-color: var(--red);
	color: var(--cream);
	text-align: center;
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	border-radius: 20px 20px 0px 0px;
	cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	width: 100%;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	z-index: 1;
}

/* Dropdown links */
.dropdown-content a {
	color: black;
	padding: 10px 15px;
	text-decoration: none;
	display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show dropdown when hovering over the button */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change button color on hover */
.dropdown:hover .dropbtn {
	background-color: var(--green);
}



.grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: minmax(300px,100px);
	border: solid 2px var(--red);
}

.button-display {
	color: var(--blue);
	font-size: calc(var(--base-size) * 1.2);
	font-family: var(--chinese-font);
	border: thick double var(--blue);
	width: 60%;
	padding: 7px;
	/* border-radius: 10px; */
	cursor: pointer;
	text-align: center;
	justify-content: center;
	margin: 0px 70px 15px 70px;
}

/* this section is for header big number */
/* vertical title  */
.center-number{
	font-size: calc(var(--header-size) * 3.5);
}

.vertical-title{
	font-size: calc(var(--header-size) * 0.7);
	writing-mode: vertical-rl;
	text-orientation: upright;
	color: var(--blue);
}

.title-flex{
	display: flex;
	justify-content:space-between;
	margin: 20px 0px 30px 0px;
}

.small-star{
	font-family: var(--chinese-font);
	font-size: calc(var(--base-size) * 2);
}

/* top red bar */
p.side-font{
	padding: 5px 0px 5px 0px;
}

.side-font{
	background-color: var(--red);
	color: var(--cream);
}

.cen-font{
	padding: 5px 0px 5px 0px;
}

.top-container{
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	text-align: center;
	border: thick double var(--red);
	font-size: calc(var(--base-size) * 0.5);
	font-family: var(--chinese-font);
}

.red-block{
	background-color: var(--red);
	padding: none;
	height: 30px;
}
/* top red bar */

dialog {
	/* display: grid;
	grid-template-columns: repeat(2, minmax(0,1fr )); */
}

button {
	cursor: pointer;
}

ul {
	border: solid 1.5px var(--red);
}

li {
	max-width: fit-content;
	/* border: solid 1px var(--red); */
	/* border-left: solid 1px var(--red);
	border-bottom: solid 1px var(--red); */
	justify-content: center;
}


h3{
	font-family: var(--base-font);
	font-size: var(--filetitle-size);
	color: var(--red);
	/* margin-bottom: 20px; */
	border-bottom: solid 1px var(--red);
	padding: 5px;
}

h1{
	font-size: calc(var(--header-size) * 1);
	font-family: var(--chinese-font);
	text-align: center;
}

p{
	color: var(--red);
	font-family: var(--base-font);
	font-size: calc(var(--base-size) * 0.9);
}

main{
	padding: var(--gutter);
}

body{
	font-size: var(--base-size);
	color: var(--red);
	background-color: var(--cream);
	background-image: url(paper-texture.jpg);
}

#channel-blocks {

}


@media (min-width: 500px) {
	
}


@media (min-width: 700px) {

	img {
		width: 100%;
	}

	.center-align {
		
	}

	.title-flex {
		justify-content: space-between;
	}

	button {
		width: 50%;

	}

	ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: minmax(300px,100px);
	}

	.category-container {
	grid-template-columns: 1fr;
	}

	div .dropdown {
		display: none;
	}

}

@media (min-width: 1000px) {

	img {
		font-weight: 300;
		/* width: 350px; */
		justify-content: center;
		/* height: 100%; */
		/* flex-grow: 1; */
		object-fit: contain;
	}

	div .title-flex {
		justify-content: space-between;
	}

	.vertical-title{
		font-size: calc(var(--header-size) * 1.2);
		margin: auto;
	}

	h1 {
		font-size: calc(var(--header-size)* 2);
	}

	ul {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: minmax(300px,100px);
		
	}

	.category-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}

	.dropdown {
		display: none;
	}

	main {
		padding: calc(var(--gutter) * 2);
	}

	p {
		font-size: calc(var(--base-size) * 1.1);
	}

	a {
		font-size: calc(var(--base-size) * 1);
	}

	li {
		max-width: fit-content;
		height: auto;
		border: solid 1px var(--red); */
		border-left: solid 1px var(--red);
		border-bottom: solid 1px var(--red);
		justify-content: center;
	}
}